{
    "app_name": "snake_game",
    "build_dir": "build/web",
    "index_page": "index.html",
    "resources": [],
    "serve_static": true,
    "compression_level": 9,
    "debug": false,
    "cache": true,
    "cdn": {
        "enable": false,
        "local": true
    },
    "options": {
        "source_maps": false
    }
} 